{% extends 'layout/_base.html' %}

{% block  main_body%}
    <div class="container-fluid myform">
    <center>
        <h3 class="card-header">Customers Login</h3>
        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <input type="submit" class="btn btn-primary" value="Log in">
        </form>
    </center>
    </div>
{% endblock %}


{% block style %}
<style>
    .myform{
        height: 500px;
        padding: 50px;
        width: 100%;
        background-color: #B4F8C8;
    }
    .myform h3{
        text-align: center;
        margin: 40px;
    }
    .myform h3:hover{
        background-color: black;
        color: red;
    }
    form label{
        padding: 10px;
    }
    form table{
        border: 3px solid rebeccapurple;
        padding:20px;
        margin: 20px;
    }
    form table input{
        margin: 20px;
    }

</style>
{% endblock %}