{% extends 'layout/_base.html' %}

{% block  main_body %}
    <div class="container-fluid myform">
        <center>
            <h3 class="card-header">Customers Signup</h3>
            <form action="{% url 'register_view' %}" method="post">
                {% csrf_token %}
                {% for item in form %}
                    <h4>{{ item.label }}:</h4>
                    <p>{{ item }}</p>
                    {% if item.errors %}
                       <p style="color:red!important;">{{ item.errors }}</p>
                    {% endif %}
                    <br>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="register">
            </form>
        </center>
    </div>
{% endblock %}

{% block js %}
    <script>

    </script>
{% endblock %}


{% block style %}
    <style>
        .myform {
            padding: 50px;
            width: 100%;
            background-color: #B4F8C8;
        }

        .myform h3 {
            text-align: center;
            margin: 40px;
        }

        .myform h3:hover {
            background-color: black;
            color: red;
        }

    </style>
{% endblock %}