{% extends 'layout/_base.html' %}
{% block links %}
    {{ block.super }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% endblock %}
{% block main_body %}
    <div class="container-fluid" style="background-color: #A0E7E5;">
        <div class="row justify-content-center">
            {% for product in products %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    {% include 'products/product_card.html' with product=product %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}


{% block js %}
    <script>
        function AddToCard(product_id) {
            let text = document.getElementById(`click${product_id}button`).innerText
            {% if request.user.is_authenticated %}
                if (text !== 'remove') {
                    $.post(
                        "{% url 'cart_item_api' %}",
                        {'csrfmiddlewaretoken': '{{ csrf_token }}', 'product': product_id},
                        function () {
                            $(`#click${product_id}button`).empty().append('remove').removeClass('btn-warning').addClass('btn-danger')
                        }
                    ).fail(function(req){
                        console.log(req)
                    })
                } else {
                        $.post(
                            '{% url 'cart_item_detail_api' 0 %}',
                            {'product': product_id},
                            function (data, status, xhr) {
                                let cart_item_id = data['cart_item_id']
                                $.ajax(
                                    `basket_item_detail/${cart_item_id}`, {
                                        type: "DELETE",
                                        {#data:{'csrfmiddlewaretoken':'{{ csrf_token }}'},#}
                                        headers:{ "X-CSRFToken": '{{csrf_token}}'},
                                        success: function (data) {
                                            $(`#click${product_id}button`).empty().append('Add to cart<i class="fa fa-shopping-cart"></i>').removeClass('btn-danger').addClass('btn-warning')
                                            console.log(data)
                                        }
                                    }).fail(function (resp) {
                                })
                            }
                        ).fail(function (data) {
                            console.log(data)
                        })
                }
            {% else %}
                if (text!=='remove'){
                $.post(
                    "{% url 'set_cookie_for_cart_item' %}",
                    {'csrfmiddlewaretoken': '{{ csrf_token }}', 'product': product_id},
                    function () {
                        $(`#click${product_id}button`).empty().append('remove').removeClass('btn-warning').addClass('btn-danger')
                    }
                ).fail(function (resp) {
                    console.log(resp)
                })
                }
                else{
                    $.ajax(
                        '{% url 'delete_cookie_for_cart_item' '0' %}'.replace('0',product_id),{
                            type: "DELETE",
                            data:{'csrfmiddlewaretoken':'{{ csrf_token }}'},
                            headers:{ "X-CSRFToken": '{{csrf_token}}'},
                            success: function (data) {
                                $(`#click${product_id}button`).empty().append('Add to cart<i class="fa fa-shopping-cart"></i>').removeClass('btn-danger').addClass('btn-warning')
                            },
                            errors: function (resp) {
                                console.log(resp)
                            }
                        })
                }
            {% endif %}
        }
    </script>

{% endblock %}

{% block style %}
<style>
    .footer{
        background-color: #A0E7E5;
    }
    body{
        background-color: #A0E7E5;
    }
</style>
{% endblock %}