{% load static %}
<div class="card product-card" style="height: 400px">
    {% if product.image %}
        <img class="card-img-top prod-image" src="{{ product.image.url }}" alt="{{ product.name }}" width="100%" height="100%">
    {% else %}
        <img class="card-img-top prod-image" src="{% static 'products/default.jpg' %}" width="100%" alt="{{ product.name }}">
    {% endif %}
    <div class="card-body">
        <a href="{% url 'product_detail' product.id %}" class="card-title text-danger text-center"><h4>{{ product.name }}</h4></a>
        {% if product.discount %}
            <h6 class="card-text text-center before-off-price text-secondary">{{ product.price }} Tooman</h6>
            <h6 class="card-text text-center after-off-price text-info">{{ product.final_price }} Tooman</h6>
        {% else %}
            <h6 class="card-text text-center after-off-price">{{ product.price }} Tooman</h6>
        {% endif %}
    </div>
    <div class="justify-content-end">
        <div style="text-align:center;">
            <button id="click{{ product.id }}button" class="card-link btn btn-warning" onclick="AddToCard({{ product.id }})">Add to cart<i class="fa fa-shopping-cart"></i></button>
        </div>
    </div>

</div>

