{% extends 'layout/_base.html' %}
{% load static %}
{% load i18n %}
{% block links %}
    {{ block.super }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block style %}
    <style>
        .media img {
            max-height: 100px;
            max-width: 100px;
        }

        .media-body {
            align-items: center;
            text-align: center;
            margin: 4px
        }

        table td, thead th {
            text-align: center !important;
            vertical-align: middle !important;
        }
        td input{
            width: 50px;
        }
    </style>
{% endblock %}

{% block main_body %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <section class="cart_area section_padding">
                <div class="container">
                    <div class="col">
                        <div class="table">
                            <table class="table-responsive">
                                <thead>
                                <tr>
                                    <th scope="col">{% trans 'Product photo' %}</th>
                                    <th scope="col">{% trans 'title' %}</th>
                                    <th scope="col">{% trans 'Price' %}</th>
                                    <th scope="col">{% trans 'Quantity' %}</th>
                                    {% if cart %}
                                    <th scope="col">{% trans 'Total' %}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% if cart %}
                                    {% for cart_item in items %}
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div class="d-flex">
                                                        {% if cart_item.product.image %}
                                                            <img src="{{ cart_item.product.image.url }}" alt="product"/>
                                                        {% else %}
                                                            <img src="{% static 'products/default.jpg' %}" alt="product"/>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="media-body">
                                                    <h4>{{ cart_item.product.name }}</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <h5>{{ cart_item.product.final_price }}</h5>
                                            </td>
                                            <td>
                                                <input type="number" value="{{ cart_item.count }}" onchange="change_count_database(this, {{ cart_item.id }})">
                                            </td>
                                            <td>
                                                <h5 class="text-secondary">{{ cart_item.final_price }}</h5>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    {% for product, count in items %}
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div class="d-flex">
                                                        {% if product.image %}
                                                            <img src="{{ product.image.url }}" alt="product"/>
                                                        {% else %}
                                                            <img src="{% static 'products/default.jpg' %}" alt="product"/>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="media-body">
                                                    <h4>{{ product.name }}</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <h5>{{ product.final_price }}</h5>
                                            </td>
                                            <td>
                                                <input type="number" value="{{ count }}" onchange='change_count_cookie(this, {{ product.id }})'>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                {% endif %}

                                <tr>
                                    <td></td>
                                    <td>
                                        <h3 class="text-primary">{% trans 'Total price:' %}</h3>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h3 class="text-primary">{{ totalprize }} {% trans 'Tooman' %} </h3>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    function setCookie(cName, cValue, expDays=60) {
        let date = new Date();
        date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
        const expires = "expires=" + date.toUTCString();
        document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
    }
    function change_count_cookie(input, prod_id){
        input.value = Math.abs(input.value)
        setCookie('prod'.concat(prod_id),input.value)
        document.location.reload()
    }
    function change_count_database(input, cartitem_id){
        input.value = Math.abs(input.value)
        $.post(
            "{% url 'cartitem_change_count' %}",
            {'csrfmiddlewaretoken': '{{ csrf_token }}', 'cartitem_id': cartitem_id, 'new_value':Math.abs(input.value)},
            function () {
                document.location.reload()
            }
        ).fail(function (){
            console.log('something went wrong!')
        })
    }
</script>
{% endblock %}
