{% load static %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="foot-col footer-col-second col-2">
                <img src="{% static 'layout/logo.jpg' %}" alt="logo" class="d-none d-lg-block">
            </div>
            <div class="foot-col footer-col-first col-2">
                <h3>Know us better</h3>
                <ul>
                    <li><a href="#">Rules</a></li>
                    <li><a href="#">Cooperation</a></li>
                    <li><a href="#">about us</a></li>
                    <li> <a href="#">payment methods</a></li>
                </ul>
            </div>
            <div class="foot-col footer-col-third col-4">
                <h3>Address and more info</h3>
                <p>Tehran, Azadi street, near to Enghelab square, 297 west. Apartment 25, second floor</p>
            </div>
            <div class="foot-col footer-col-fourth col-4">
                <h3>Contact us</h3>
                <ul>
                    <li><i class="fa fa-twitter"></i><a> Twitter </a></li>
                    <li><i class="fa fa-telegram"></i><a> Telegram</a></li>
                    <li><i class="fa fa-instagram"></i> <a>Instagram</a></li>
                    <li><i class="fa fa-facebook"></i> <a>Facebook</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2022 - Mehrab - maktab64 - All rights reserved.</p>
    </div>
</div>